.w-25{
    width: 25%;
}
.w-40{
    width: 40%;
}
.cart{

    position: relative;
    margin-left: 25px;
}
/* .cart::before{
   content: '';
    position: absolute;
    width:2px;
    height: 150%;
    top: 0;
    left: 0;
    background-color: #000;
} */
.icon{
    cursor: pointer;
}