<footer class="text-light pt-4 pb-2 mt-5 bg-footer">
        <div class="w-85 mx-auto py-5">
            <div class="row pt-3">
                <div class="col-lg-5 col-sm-12 mb-3">
                    <!-- <h5></h5> -->
                    <p class="fs-2 p-font-footer">Future Vision</p>
                    <p class="footer-text w-75">Future Vision is a company specializing in office and hotel furniture, as well as interior design and
                        execution of interior decorations.</p> 
                    <p class="footer-text w-75">&copy; 2024 Futurevision. All rights reserved.</p>
                </div>
                <div class="col-lg-2 col-sm-12 mb-3">
                    <ul class="list-unstyled">
                        <li><a href="#features" class="text-light footer-text footer-underline">Features</a></li>
                        <li><a href="#about-us" class="text-light footer-text footer-underline">About us</a></li>
                        <li><a href="#products" class="text-light footer-text footer-underline">Our products</a></li>
                        <li><a href="#ContactUs" class="text-light footer-text footer-underline">Contact us</a></li>
                        <li><a routerLink="checkout" class="text-light footer-text footer-underline">Checkout form</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-sm-12">
                    <p class="fs-6 p-font-footer">Email us at</p>
                    <a href="mailto:info@future-vision.asia" class="text-light footer-text">info@future-vision.asia</a> <br>
                    <a href="mailto:sales@future-vision.asian" class="text-light footer-text">sales@future-vision.asian</a>
                </div>
                <div class="col-lg-2 col-sm-12 mb-3">
                    <p class="fs-6 p-font-footer">Call us at</p>
                    <p class="footer-text">00966-530070736</p>
                </div>
                <div class="col-lg-1 col-sm-12 mb-3">
                    <p class="fs-6 p-font-footer">Follow us</p>
                    <div class="d-flex justify-content-center d-flex flex-column social-icons align-items-center">
                        <a href="https://www.instagram.com/futurevision.asia?igsh=MTY2cHI4ZjJucmd3bg%3D%3D&utm_source=qr" target="_blank" class="text-center">
                            <i class="fa-brands fa-instagram text-white fs-4 footer-text "></i>
                        </a>
                        <a href="https://www.linkedin.com/in/ahmed-megahed-092528b7?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app" target="_blank" class="text-center">
                            <i class="fa-brands fa-linkedin text-white fs-4 footer-text mt-1"></i>
                    
                       </a>
                    </div>
                </div>
            </div>
        </div>
      </footer>
  