.bg-footer {
    background-color: #001F34;
    font-family: "Roboto", sans-serif;
  }
  
  .footer {
    font-family: "Roboto", sans-serif;
  }
  
  .footer a {
    text-decoration: none;
  }
  
  .footer-text {
    opacity: 0.8;
    font-weight: 300;
    font-size: 15px;
  }
  
  .p-font-footer {
    font-family: "Rubik", sans-serif;
  }
  .social-icons{
    align-items: center;
    text-align: center;
    margin-left: 0;
    width: fit-content;
  }
  @media (max-width:991px) {
    .social-icons{
     color: white;      
    }

  }