<!--Modified......-->

<section class="home">
    <div class="row p-0">
        <div class="col-lg-6 p-0 position-relative ">
            <img src="assets/7.webp" alt="">
            <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
            <h3 class="fs-2 text-white text-white title-text">Diversity</h3>
            <p class="mt-3 fs-5 px-6 text-center p-text">We created diverse and creative services in the following lines of business:
                  Office Furniture, Educational Furniture, Healthcare Furniture, Hotels Furniture,
                  Archive & Warehousing, Interior design, Execution of interior decorations, Carpet Tile, Audio Visual Solutions</p>
        </div>
        </div>
        <div class="col-lg-6 p-0 position-relative">
            <img src="assets/9.webp" alt="">
            <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
                <h3 class="fs-2 text-white title-text">Our Collections</h3>
                <p class="mt-3 fs-5 px-6 text-center p-text">we offer the client: 1. Furniture manufactured in Saudi Arabia, 2. Furniture by order (The furniture is completely
                imported from abroad according to the sizes and colors, to make matching furniture and the décor, 3. Available in
                Warehouses.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 position-relative ">
            <img src="assets/5.webp" class="special-img" alt="">
            <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
                <h3 class="fs-2 text-white title-text">Our vision</h3>
                <p class="mt-3 fs-5 px-6 text-center p-text">Is to be the most innovative and reputable brand. We strive to offer high-quality furniture that enhances everyday
                living commits itself to provide all other necessary services, starting with sale services and moving to delivery,
                installation, commissioning and maintenance</p>
            </div>
        </div>
    </div>
    <div class="row p-0">
        <div class="col-lg-6 p-0 position-relative">
            <img src="assets/1.webp" alt="">
            <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
                <h3 class="fs-2 text-white title-text">Solutions & Services</h3>
                <p class="mt-3 fs-5 px-6 text-center p-text">Future Vision continuous quest is to provide the business community with total office solutions. 30 years of expertise,
                has enabled it to create the richest and the most diverse portfolio.</p>
            </div>
        </div>
        <div class="col-lg-6 p-0 position-relative">
            <img src="assets/3.webp" alt="">
            <div class="text d-flex flex-column align-items-center justify-content-center text-white ">
                <h3 class="fs-2 text-white title-text">Our work policy</h3>
                <p class="mt-3 fs-5 px-6 text-center p-text">is based on coordination and a good understanding of Customer requests, providing multiple solutions for the client to
                choose from. Whether it's interior design to create a different and comfortable work environment or selecting furniture
                and utilizing all spaces</p>
            </div>
        </div>
    </div>
</section>